*{
    margin: 0;
    padding: 0;
}

body{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    background:url('bg3.jpg');
    background-size: cover;
    font-size: large;
    margin-left: auto;
    margin-right: auto;
    width:100%;
    overflow-x: hidden;
    min-height: 1400px;
}

.box{
    height:70px;
    width: 80%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left:150px;
}

.box2{
    width:30%;
    height: 60px;
    display: flex;
    align-items: center;
}

.box1{
    width:40%;/*Why did it go to the extreme right?*/
    height: 70px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.box1 .box2{
    display:flex;
    align-items: center;
    justify-content: center;
    border: 2px solid black; 
    border-radius: 10px;
    transition: 0.4s;
}

.box1 .box2:hover{
    box-shadow: 0px 0px 10px black;
    transition: 0.4s;
}

.tx{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 40px;
}

.tx1{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 30px;
}

.tx2{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    padding-top:500px;
}

img{
    width: 50px;
}

a{
    text-decoration: none;/*removes the underline*/
    height:50px;
    width:100%;
    align-items: center;/*along y axis*/
    justify-content: center;/* along x axis*/
    display: flex;
    color: black;
}

h1{
    position: relative;
    left: 40%;
}

.leftcolumn {   
    float: left;
    width: 36%;
    padding-left: 2%;
}
  
.rightcolumn {
    float: right;
    width: 36%;
    padding-right: 2%;
}

.card1 {
    background-image:url(c1.jpg);
    font-size:20px;
    padding: 50px;
    height: 500px;
}

.card2 {
    background-image:url(c2.jpg);
    font-size:20px;
    padding: 50px;
    height: 500px;
}

@media(max-width: 500px){
    .box1{
        height:70px;
        width: 80%;
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding-left:150px;
        flex-direction: column;
    }
}
